{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<div class="row">
    <div class="col-6">
        <h1 class='post'>All Posts</h1>
    </div>
    <div class="col-6">
        <a href="{{path('post_create')}}" class='btn btn-success'>Add post</a>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script>
</script>
{% endblock %}